<div class="container">
    <div class="card ">
        <h3 class="text-center">user list</h3>
        <div class="card-body">
            <table class="table table-striped">
            <thead>

                <th>first name</th>
                <th>last name</th>
                <th>email</th>
            </thead>
            <tbody>
                <tr *ngFor = "let user of users">

                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
